{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h3>Tracked Adverts</h3>
<div>   
<table class="table table-bordered table-hover">
 <thead>
    <tr>
        <th class="col-sm-2"><a href="{{ sort_by_date }}"> Date Found <i class="fa fa-sort" aria-hidden="true"></i></a> </th>
        <th class="col-sm-5"> Image preview </th>
        <th class="col-sm-3"> Original link </th>
        <th class="col-sm-2"> File type </th>
    </tr>
</thead>
<tbody>
    {% for item in result%}
        <tr">
            <td class="col-sm-2"> {{ item[2] }} </td>
            <td class="col-sm-5"> 
                <a href="{{ item[6] }}">
                <img src="{{ item[6] }}" class="img-thumbnail" alt="image not found" title=""></a>
            </td>
            <td class="col-sm-3"><a href="{{ item[10] }}" class="btn btn-default" role="button">Link</a> </td>
            <td class="col-sm-2"> {{ item[9] }} </td>
        </tr>
    {% endfor %}
</tbody>
</table>

</div>
{% endblock %}
