{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h3>New Advertsr</h3>
<div>   
<table class="table table-bordered table-hover">
 <thead>
    <tr>
        <th class="col-sm-2"> Date Found </a> </th>
        <th class="col-sm-5"> Image preview </th>
        <th class="col-sm-1"> Original link </th>
        <th class="col-sm-1"> File type </th>
        {% if tracked!='True' and tracked!='False' %}
        <th class="col-sm-1"> Authorize for tracking </th>
        <th class="col-sm-1"> Confirm </th>
        {% elif tracked == 'True' %}
        <th class="col-sm-1"> Logging details </th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for item in result%}
        <tr">
            <td class="col-sm-2"> {{ item.date_creation }} </td>
            <td class="col-sm-5"> 
                <a href="{{ item.url }}">
                <img src="{{ item.url }}" class="img-thumbnail" alt="image not found" title=""></a>
            </td>
            <td class="col-sm-1"><a href="{{ item.original_url }}" class="btn btn-default" role="button">Link</a> </td>
            <td class="col-sm-1"> {{ item.file_type }} </td>
            
            {% if tracked!='True' and tracked!='False' %}
            <form method="post">
            <td class="col-sm-1"> 
                <input type="radio" name="options"  value="True {{item.checksum}}"> Yes </input><br>
                <input type="radio" name="options"  value="False {{item.checksum}}"> No </input>
             </td>
            <td class="col-sm-1"><input type="submit" value="save" class="btn btn-primary"> </td>
            </form>
            {% elif tracked == 'True' %}
            <td class="col-sm-1"><a href="{{ url_for('logged_adverts', checksum=item.checksum) }}" class="btn btn-default" role="button"> view </a></td>
            {% endif %}
        </tr>
    {% endfor %}
</tbody>
</table>

</div>
{% endblock %}
